html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #E8E5F0;

  nav.class-menuComponent > ul {
    display: grid;
    grid-template-columns: auto 6vw 6vw 6vw;
    gap: 20px;
    padding: 0;
    margin: 3vh 0;
    align-items: center;

    li {
      list-style: none;
    }
  }
}

h1,
a:hover,
a:focus {
  color:#7E8FF2;
}

p {
  color: #3F3D56;
}

a {
  color: #3F3D56;
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

button {
  min-width: 147px;
  min-height: 50px;
  background: #7E8FF2;
  border: none;
  border-radius: 1000px;
  color: #e8e5f0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 40px;
}

button:hover {
  background: #99a8fd;
}

button:focus {
  background: #3F3D56;
}
