// big smartphone
@media only screen and (max-width: 500px) {
    nav.class-menuComponent h5{
        display: none;
    }
}
// smartphone
@media only screen and (max-width: 600px) {

    .class-Header {
        div:first-child {
            max-width: 100% !important;
        }
        > img {
            width: 100%;
            height: auto;
        }
    }
    .class-checkUser {
        text-align: center;
        > div:first-child > div > img {
            color: transparent;
            width: 90px;
        }
        > div:last-child > div:last-child {
            padding: 20px 0 !important;
        }
    }
    .class-persona {
        text-align: center;
        grid-gap: 20px !important;
        gap: 20px !important;

        > div {
            display: grid;
            grid-template-columns: auto !important;
            justify-items: center;
            text-align: center;

            > p {
                grid-column: 1 !important;
            }
        }
    }
    .class-ExperienceMap {
        display: grid;
        grid-template-columns: auto 57px !important;
        align-items: flex-end !important;

        > div:last-child > div {
            border-radius: 1000px !important;
        }
    }
    .class-DBAModel {
        text-align: center;
    }
    .class-GalleryComponent {
        text-align: center;

        > div:nth-last-child(2) > img.class-imgSelected {
            width: 80vw !important;
            height: auto !important;
        }
    }
    .class-implement {
        > p {
            width: 100% !important;
        }
        > img {
            width: 100%;
            height: auto;
        }
    }
    .class-NextStep {
        align-items: flex-start;
        text-align: center;

        > p {
            width: 100% !important;
        }
        > div:last-child {
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
        }
    }
    .class-ExperienceMap {
        text-align: center;
    }
}
// big smartphone
@media only screen and (max-width: 800px) {
    .class-NextStep{
        justify-items: center;
        text-align: center;
        justify-content: center;

        > p {
            width: 70%;
        }

        > div:last-child {
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
        }
    }
    .Home_container__97eC3,
    .container {
        padding: 0 2rem !important;
    }
    nav.class-menuComponent {
        display: grid;
        grid-template-columns: 73px auto;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        h2 {
            color: #5f6cba;
            font-weight: 400;
        }

        h5 {
            color: #3F3D56;

            span {
                background: #5f6cbd;
                color: #e8e5f0;
                padding: 10px;
                border-radius: 10px;
                margin-left: 10px;
            }
        }

        ul {
            position: fixed;
            top: 120px;
            bottom: 0;
            right: 0;
            left: 0;
            background: #cbc7d5;
            margin: 0 !important;
            display: flex !important;
            flex-direction: column;
            padding: 20px 2rem 20px calc(2rem + 73px + 20px) !important;
            text-align: left;
            align-items: flex-start !important;
        }
    }
}
// tablet
@media only screen and (max-width: 992px) {
    html .class-Header > img {
        align-self: center !important;
    }
    html .class-GalleryComponent > div:last-child, body .class-GalleryComponent > div:last-child {
        display: flex;
        justify-self: center;
    }
    .class-implement > img {
        width: 100%;
        height: auto;
    }
}
// desktop mini
@media only screen and (max-width: 1024px) {
    html {
        nav.class-menuComponent > ul {
            display: grid;
            grid-template-columns: auto max-content max-content max-content;
        }
        .class-Header {
            display: flex;
            align-items: center;

            div:first-child {
                max-width: 100vw !important;
                text-align: center;
            }
        }
        .class-Header:nth-child(4) div:first-child {
            max-width: 63vw;
        }
        .class-checkUser {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;

            > div:first-child {
                display: flex;
                justify-content: space-between;
                height: 80vh;
                grid-row: 2;
            }
            > div:first-child > div:last-child {
                display: flex;
                gap: 20px;
                align-items: center;
                text-align: center;

                > div {
                    background: #e8e5f0;
                    color: #7e8ff2;
                    opacity: 0.5;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    text-align: center;
                    border-radius: 1000px;
                }
            }
        }
        .class-persona {
            display: grid;
            grid-template-columns: auto;
            gap: 100px;

            > p,
            > h1 {
                grid-column: 1;
            }

            > div {
                width: auto;
                display: grid;
                grid-template-columns: 145px auto;
                align-items: center;
                gap: 20px;

                > p {
                    grid-column: 2;
                }
            }
        }
        .class-ExperienceMap > div:nth-last-child(2) > div > div:first-child {
            width: 100%;
        }
        .class-classOnlyShowImage {
            display: none !important;
        }
        .class-ExperienceMap > div.class-ColumnTwo > div > div {
            width: 90% !important;
        }
    }
}
// desktop media
@media only screen and (max-width: 1300px) {
    html {
        // background-color: red;
        .class-Header {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            div:first-child {
                max-width: 60vw;
            }
            > img {
                align-self: flex-end;
            }
        }
        .class-Header:nth-child(2) > img {
            display: none;
        }
        .class-persona > div {
            width: auto;
        }
    }
}