// desktop media
@media only screen and (max-width: 1300px) {
    html {
        // background-color: red;
        .class-Header {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            div:first-child {
                max-width: 60vw;
            }
            > img {
                align-self: flex-end;
            }
        }
        .class-Header:nth-child(2) > img {
            display: none;
        }
        .class-persona > div {
            width: auto;
        }
    }
}
// desktop mini
@media only screen and (max-width: 1024px) {
    .Home_container__97eC3,
    .container {
        padding: 0 4rem !important;
    }
    html {
        nav.class-menuComponent > ul {
            display: grid;
            grid-template-columns: auto 15vw 15vw 147px;
        }
        .class-Header {
            display: flex;
            align-items: center;

            div:first-child {
                max-width: 50vw;
                text-align: center;
            }
        }
        .class-Header:nth-child(4) div:first-child {
            max-width: 63vw;
        }
        .class-checkUser {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;

            > div:first-child {
                display: flex;
                justify-content: space-between;
                height: 80vh;
                grid-row: 2;
            }
            > div:first-child > div:last-child {
                display: flex;
                gap: 20px;
                align-items: center;
                text-align: center;

                > div {
                    background: #e8e5f0;
                    color: #7e8ff2;
                    opacity: 0.5;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    text-align: center;
                    border-radius: 1000px;
                }
            }
        }
        .class-persona {
            display: grid;
            grid-template-columns: auto;
            gap: 100px;

            > p,
            > h1 {
                grid-column: 1;
            }

            > div {
                width: auto;
                display: grid;
                grid-template-columns: 145px auto;
                align-items: center;
                gap: 20px;

                > p {
                    grid-column: 2;
                }
            }
        }
        .class-ExperienceMap > div:nth-last-child(2) > div > div:first-child {
            width: 100%;
        }
        .class-classOnlyShowImage {
            display: none !important;
        }
        .class-ExperienceMap > div.class-ColumnTwo > div > div {
            width: 90% !important;
        }
    }
}

// tablet
@media only screen and (max-width: 992px) {

}