
::placeholder {
    color: #3F3D56;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #3F3D56;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #3F3D56;
  }

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3F3D56;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #99a8fd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7E8FF2;
}